$horizontalGap: 6rem;
$verticalGap: 6rem;
$gridWidth: 114rem;
$internalPaddign: 10px;

html, body {
    margin: 0px;
    padding: 0px;
}

.row {
    @include clearfix;

    margin: 0 auto;
    //max-width zastosowalismy z rozwaga.
    //Proszę zerknijmy jak będzie wyglądało to z samym width
    max-width: $gridWidth;

    p {
        padding: 2.5rem 0;
    }

    //usuwamy marginesy z dolu dla ostatniego elementu row
    &:not(:last-child) {
        margin-bottom: $verticalGap;
    }
    
    .col-1-1 {
        max-width: 100%;
        padding: $internalPaddign;
    }
    
    .col-1-2 {
        //stosujac calc mozemy operowac na roznych jednostakch wielkosci, px, %, rem bez sprowadzania do wspolnego mianownika
        //przy zastosowaniu funkcji calc oraz zmiennych musimy stosować odpowiedni format #{$name} = value of name
        width: calc((100% - #{$horizontalGap})/2);
        float: left;
        padding: $internalPaddign;

        &:not(:last-child) {
            margin-right: $horizontalGap;
        }
    }
    
    .col-1-3 {
        width: calc((100% - (#{$horizontalGap}*2))/3);
        float: left;
        padding: $internalPaddign;

        &:not(:last-child) {
            margin-right: $horizontalGap;
        }
    }
}



