@import 'mixins';
@import 'grid';

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

//Variables
$lightBlue: #2a68cc;
$darkBlue: #204f9b;
$fontColor: #969696;
$lightColor: #fff;
$darkColor: #666;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

//16px to defaultowa wartosc font-size, ustawiana przez przeglądarki
//W celu latwiejszych obliczen zmienimy czcionke na 10px co da nam 1rem = 10px
html {
    //font-size: 10px; - ustawienie na sztywno wartosci 10px w html, wytnie w pien, mozliwosc zmiany defaultowej wielkosci czcionki dla przegladarki
    //zamiast tego zastosujemy procenty ;), 
    font-size: 62.5% //dalej jednak chcemy latwo obliczac 1rem, powinien dawac 10px, zatem 10 px z 16 to 62,5%
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 3rem;
    color: $fontColor;
}

header.main-header {
    height: 85vh; //vh to jednostka "view-height" obliczana na podstawie wolnego miejsca na wyswietlaczu
    width: 100%;
    background-image: linear-gradient(
        to right bottom,
        rgba($lightBlue, .6),
        rgba($darkBlue, 1)
    ), url(../img/header_bg.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
    position: relative;

    .main-header__logo {
        position: relative;
        
        img {
            height: 10rem;
            position: absolute;
            top: 2.5rem;
            left: 2.5rem;
            opacity: .9;
        }
    }

    .main-header__text {

        position: absolute;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        top: 40%;
        left: 50%;
        
        color: $lightColor;
        text-transform: uppercase;

        .main-header__text--title {
            font-size: 5rem;
            font-weight: 700;
            letter-spacing: 2rem;
            line-height: 7rem;
            white-space: nowrap;
        }

        .main-header__text--subtitle {
            font-size: 2rem;
            font-weight: 400;
            letter-spacing: .95rem;
            white-space: nowrap;
        }
    }
}

.main-content {
    .folio {
        .title {
            padding: 4rem;
            width: 100%;
            
            h2 {
                text-align: center;
            }
        }

        .folio__text p{
            position: relative;
            display: block;
    
            &:not(:last-child):after {
                content: "";
                position: absolute;
                bottom: .2rem;
                left: 10%;
                height: .1rem;
                width: 80%;
                border-bottom: 1px solid #dedede;
            }
        }
    
        .folio__gall {
            img.folio__gall--img {
                @include roundedCorners(.6rem);
                width: 25rem;
                transition: all .2s;
                opacity: .7;
                box-shadow: 0 .2rem .5rem rgba(0,0,0, .5);
    
                &:hover {
                    opacity: 1;
                    transform: scale(1.05);
                    box-shadow: 0 .2rem 2rem rgba(0,0,0, .8);
                }
            }
        }
    }

    .offer {
        width: 100%;
        height: 85vh;
        background-image: linear-gradient(
            to right bottom,
            rgba($lightBlue, .6),
            rgba($darkBlue, 1)
        ), url(../img/middle_bg.jpg);
        background-size: cover;
        background-position: center;
        clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 100%);
        position: relative;

        .title {
            padding: 25rem 0 6rem 0;
            width: 100%;
            
            h2 {
                color: $lightColor;
                text-align: center;
            }
        }

        .card {
            @include roundedCorners(.6rem);
            background-color: rgba($lightColor, .8);
            height: 40rem;
            overflow: hidden;
            position: relative;
            box-shadow: 0 .2rem 2rem rgba(0,0,0, .4);

            .card__title {
                @include roundedCorners(.3rem);
                position: absolute;
                top: 15rem;
                right: 2rem;
                background: $darkBlue;
                z-index: 2;
                padding: .6rem;
                color: $lightColor;
                background-image: linear-gradient(to right, $lightBlue, $darkBlue);
            }

            .card__header {
                background-size: cover;
                background-position: bottom;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
                height: 18rem;

                &.header1 {
                    @include cardHeaderImg('../img/engine1_small.jpg');
                }

                &.header2 {
                    @include cardHeaderImg('../img/engine2_small.jpg');
                }

                &.header3 {
                    @include cardHeaderImg('../img/engine3_small.jpg');
                }
            }

            .card__main {
                color: $darkColor;
                margin-top: 2.2rem;
                text-align: center;

                ul > li {
                    position: relative;

                    &:not(:last-child) {
                        padding-bottom: 1.1rem;
                        
                        &:after {
                            content: '';
                            position: absolute;
                            bottom: .1rem;
                            width: 30%;
                            left: 50%;
                            transform: translateX(-50%);
                            border-bottom: 1px solid $fontColor;
                            opacity: .4;
                        }
                    }
                }
            }
        }
    }

}

